@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans+Condensed:300&display=swap');

body {
	font-size: 18px;
	font-family: 'Libre Baskerville', sans-serif;
	background:#E8D5D3;
	color: #000;
}

h1,h2 {
	text-transform: uppercase;
	border-bottom: 4px solid black;
	display: inline-block;
	font-weight: 800;
	padding: .8em 0;
	text-align: center;
	font-size: 1.5em;
	color: #4BA6B3;
	font-family: 'Libre Baskerville', sans-serif;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
	padding: .8em 0;
	color: #fffebb;
	border-bottom-color: #fffebb;
}

img {
	display: block;
	margin: 0 auto;
	width: 480px;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0
}

li{
	float: left;
	width: 50%
	height:6em;
	outline: 3px solid #222;
	text-align: center;
	line-height: 6em;
	color: #000;
	font-size: 14px;
	background-color: #fff;
}

nav {
	font-size: 1.8em;
	float: right;
}

nav a {
	text-decoration: none;
	color: black;
	margin: 1.8em;
	display: inline-block;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: ""
	clear: both;
	height: 0;
	font-size: 0;
}

section {
	background: #222;
	color: #fff;
	overflow:auto;
}

div {
	background-color: #FFE2B8; 
	display: inline-block;
	padding: 2%;
	width: 46%;
	font-size: 1.2em
	margin: 4em;
}

#hero {
	display: block;
	width: 100%;
	margin: 0;
	background: #fffebb;
}

#about {
	float: left;

}

#products {
	float: right;

}

footer {
	text-align: center;
	padding: 1em 0;
	background-color: #FF957E;
	clear: both;
}
