
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans+Condensed:300&display=swap');

body {
	font-size: 18px;
	font-family: 'Libre Baskerville', sans-serif;
	background-color: black;
}

h1,h2 {
	text-transform: uppercase;
	border-bottom: 4px solid black;
	display: inline-block;
	font-weight: 800;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
	padding: .8em 0;
	color: #fffebb;
	border-bottom-color: #fffebb;
}

img {
	display: block;
	margin: 0 auto;
	width: 480px;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0
}

li{
	float: left;
	width: 50%
	height:6em;
	outline: 3px solid #222;
	text-align: center;
	line-height: 6em;
	color: #000;
	background-color: #fff;
}

nav {
	font-size: 1.8em;
	float: right;
}

nav a {
	text-decoration: none;
	color: black;
	margin: 1.8em;
	display: inline-block;
}


section {
	background: #222;
	color: #fff;
	overflow:auto;
}

div {
	background-color: #FFE2B8;
	padding: 2%;
	width: 46%;
	font-size: 1.2em
	border: 1px black solid;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

section {
	display: block;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 62%;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


#hero {
	display: block;
	width: 100%;
	margin: 0;
	background: #fffebb;
}

#about {
	float: left;

}

#products {
	float: right;

}

footer {
	text-align: center;
	padding: 1em 0;
	background-color: #FF957E;
	clear: both;
}




aside {
background-color: #FFC675;
}

article {
background-color: #E89C6C;
}

#sidebar{
float: right;
}

header{
background-color:#FFED74;
border: 1px solid;
padding: 10px;
text-align: center;
font-family: Libre Baskerville, sans-serif;
}




