body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-weight: 800;
  text-transform: uppercase;
  border-bottom: 4px solid black;
  display: inline-block;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
  padding: 13px 0;
  color: #fffebb;
  border-bottom-color: #fffebb;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  float:left;
  font-size: 20px;
  width: 50%;
  height: 100px;
  outline: 2px solid #222222;
  text-align: center;
  line-height: 100px;
  color: black;
  background: white;
}

div {
  padding: 30px;
}

nav {
  font-size: 22px;
  float: right;
}

nav a {
  text-decoration: none;
  color: black;
  margin: 30px;
  display: inline-block;
}

footer {
  text-align: center;
  border-top: 1px solid black;
  padding: 18px 0;
  margin-top: 40px;
  clear: both;
}

img {
  display: block;
  margin: 0 auto;
  clear: both;
  width: 480px;
}

#hero {
  background: #fffebb;
}

section {
  background: #222222;
  color: white;
  overflow: auto;
}

#about {
  font-size: 28px;
  width: 40%;
  display: inline-block;
}

#services {
  font-size: 22px;
  width: 40%;
  float: right;
}

@media only screen and (max-width: 800px) {
}

@media (max-width: 800px) {
  nav {
    float: none;
  }
}
@media (max-width: 800px) {
	nav {
		float: none;
	}

	nav a {
		margin: 0 1.6em .75em 0;
	}
}














body {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	background-color: #FFFFFF;
}

h1,h2 {
	text-transform: uppercase;
	border-bottom: 4px solid black;
	display: inline-block;
	font-weight: 800;
}

h1 {
	font-size: 2em;
	color: #fffebb;
}

h2 {
	font-size: 1.5em;
	padding: .8em 0;
	color: #fffebb;
	border-bottom-color: #fffebb;
}

img {
	display: block;
	margin: 0 auto;
	width: 480px;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0
}

li{
	float: left;
	width: 50%
	height:6em;
	outline: 3px solid #222;
	text-align: center;
	line-height: 6em;
	color: #000;
	background-color: #fff;
}

nav {
	font-size: 1.8em;
	float: right;
}

nav a {
	text-decoration: none;
	color: black;
	margin: 1.8em;
	display: inline-block;
}


section {
	background: #222;
	color: #fff;
	overflow:auto;
}

div {
	background-color: #FFE2B8;
	padding: 2%;
	width: 46%;
	font-size: 1.2em
	border: 1px black solid;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

section {
	display: block;
}

#left {
    background-color: violet;
    border: 1px white;
    padding: 20px;
    float: left;
    width: 30%
}

#right {
    background-color: pink;
    border: 1px white;
    padding: 20px;
    float: right;
    width: 62%;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


#hero {
	display: block;
	width: 100%;
	margin: 0;
	background: #FFFFFF;
}

#about {
	float: left;

}

