body {
	font-size: 18px;
}

header{
	background-color:#FFED74;
}

nav {
	background-color: #FFED74;
}

h1,h2 {
	text-transform: uppercase;
	border-bottom: 4px solid black;
	display: inline-block;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
	padding: .8em 0;
}

img {
	display: block;
	margin: 0 auto;
}


ul {
	list-style: none;
	margin: 0;
	padding: 0
}

footer {
	text-align: center;
	padding: 1em 0;
	background-color: #FF957E;
}

div {
	background-color: #FFE2B8;
}

aside {
	background-color: #FFC675;
}

article {
	background-color: #E89C6C;
}

footer {
	background-color: #FF957E;
}





<style>
@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');
</style>

nav {
	font-size: 20px;
	font-style: italic;
	font-family: georgia, sans-serif;
	background-color: #E8C66A;
	text-align: right;
	padding: 10px
}

aside {
	background-color: #FFC675;
}

article {
	background-color: #E89C6C;
}

footer {
	background-color: #FF957E;
}


h1{
	text-align: center;
	font-size: 1.5em;
	color: #4BA6B3;
	background-color:#fff;
	font-family: 'Rock Salt', sans-serif;
	font-style: italic;
}

a{
	background-color: white
}

#wrapper {background-color: #FFF;
	width:960px;
}

#header {
	background-color: #FFED74;
}

body {
	text-align: center;
	background: url(https://image.freepik.com/fotos-gratis/ilha-paradisiaca-bonita-com-praia-e-mar_74190-1023.jpg); 
	background:#E8D5D3;
	color: #FFED74;
	background-size: cover;
	font-family: 'Open Sans Condensed', sans-serif;

}

p{
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	font-size: 18px; 
	line-height: 1.5em;
	margin: 2em;
}

ul{
	font-size: 14px;
	text-align: center;
	list-style-type: none;
	font-family: 'Open Sans Condensed', sans-serif;
}
li{
	font-size: 14px;
	display: inline;
	background-color: white;
}

div { background-color: #FFE2B8; 
	margin: 4em;
	padding: 2em 3em 0 3em;
}