body {
	font-size: 18px;
}

header{
	background-color:#FFED74;
	border: 1px solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
}

h1,h2 {
	text-transform: uppercase;
	border-bottom: 4px solid black;
	display: inline-block;
	font-size: 2em;
	padding: .8em 0;
}

img {
	display: block;
	margin: 0 auto;
}


ul {
	list-style: none;
	margin: 0;
	padding: 0
}

footer {
	text-align: center;
	padding: 1em 0;
	background-color: #FF957E;
}

div {
	background-color: #FFE2B8;
}

aside {
	background-color: #FFC675;
}

article {
	background-color: #E89C6C;
}


