body {
	text-align: center;
	background: url(https://image.freepik.com/fotos-gratis/ilha-paradisiaca-bonita-com-praia-e-mar_74190-1023.jpg); 
	background:#E8D5D3
	color: #FFF;
	background-size: cover;
	font-family: Helvetica;
}

h1{
	text-align: center;
	font-size: 32px;
	color: #4BA6B3;
	background-color:#E8C9C1;

}

p{
	font-size: 22px;
	color: #FFF;
}
ul{
	font-size: 22px;
	text-align: center;
	list-style-type: none;
	color: #FFF;
}
li{
	font-size: 22px;
	color: #FFF;
}
#slogan{
	font-style: italic;
	color:#4BB398;

}

