style.css
body {
	text-align: center;
	background: url(https://br.freepik.com/fotos-gratis/ilha-paradisiaca-bonita-com-praia-e-mar_3531645.htm#page=1&query=praia&position=2); 
	background:#FFBBB8;
	color: #FFF;
	background-size: cover;
	font-family: Helvetica
}

#slogan {
	font-style: italic;
}

h1{
	text-align: center;
	font-size: 32px
	color: #4DB388
	background-color:#EBA791;

}


p{
	font-size: 22px
}
ul{
	font-size: 22px
	text-align: center;
	list-style-type: none;
}
li{
	font-size: 22px;
}
img{ 
	image: cover;
	background-image: url(https://br.freepik.com/fotos-gratis/ilha-paradisiaca-bonita-com-praia-e-mar_3531645.htm#page=1&query=praia&position=2);
 }

#slogan
