style.css
body {
	text-align: center;
	background: url(https://www.instagram.com/p/B8Wn8YZBB6a/); 
	background:#FFBBB8;
	text-color: #FFF;
	background-size: cover;
	font-family: Helvetica
}

hr{
	width: 200px;
}

h1{
	text-align: center;
	font-size: 32px
	color: #FFF; 
}
p{
	font-size: 22px
}
ul{
	font-size: 22px
}
li{
	font-size: 22px;
}
img{ 
	image: cover;
	background-image: (https://www.instagram.com/p/B8Wn8YZBB6a/);
 }
#slogan
